{{> _header}}
{{> _navbar headline=title}}

<div class="container my-5">
	<form class="w-50 mx-auto" method="POST" action="/{{formAction}}">
		<div class="mb-3">
			<label for="depositAmount" class="form-label">{{clientName}}</label>
			<input name="depositAmount" type="number" class="form-control" id="depositAmount" />
		</div>

		<button type="submit" class="btn btn-primary">{{btnAction}}</button>
	</form>
</div>

{{> _footer}}                          